<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/app.css"/>
</head>
<body>
<div class="wrapper">