<% include head %>
<h2>Upload an image<h2>
<div class="file-upload">
<form method="POST" action="/" enctype="multipart/form-data">
<fieldset>
    <label>Choose a file&nbsp;<input type="file" name="image"></label>
    <label>Enter a description&nbsp;<textarea name="description"></textarea></label>
    <input type="submit" value="Upload" class="btn btn-primary btn-right">
</fieldset>
</form>
</div>
<%if (images.length > 0){%>
<h2>Image gallery</h1>
<div class="gallery-container">
    <ul class="images">
        <% for(var i=0; i<images.length; i++) {%>
           <li><a href="/list/<%= images[i]._id %>"><img src="<%= images[i].thumb%>"></a></li>
        <% } %>

    </ul>
</div>
<%}%>

<% include footer %>